.intro {
    background-color: #f2f4f5;
    height: 20rem !important;
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
}

.btn-success {
    background-color: #3fb618 !important;
    border: #3fb618 solid !important;
    font-size: larger !important;
}

.btn:hover {
    box-shadow: 0px 0px 15px 5px #7cf852;
    transform: translate(6dg);
}